<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h1>Ajout</h1>

<form action="#" th:object="${object}" th:action="@{/contact}" method="post">
	Username : <input type="text" th:field="*{username}" />
	
	<select>
		<option th:each="item : ${object.keyWords}" th:text="${item.label}">description</option>
	</select>
	
	<button type="submit" name="save" th:text="save"></button>
</form>

</body>
</html>